<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="influxdbserver" value="http://192.168.1.36:8086"/>
    <add key="influxdbusername" value="root"/>
    <add key="influxdbpassword" value="root"/>
    <add key="snmpserver" value="192.168.1.249"/>
    <add key="servername" value="pfsense"/>
    <add key="influxdbname" value="pfsense"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>